# Continuous integration handling for changie
name: ci-changie

on:
  pull_request:
    paths:
      - .changes/unreleased/*.yaml
      - .changie.yaml
      - .github/workflows/ci-changie.yml

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: miniscruff/changie-action@5036dffa79ffc007110dc7f75eca7ef72780e147 # v2.1.0
        with:
          version: latest
          args: batch patch --dry-run

