# Continuous integration handling for changie
name: ci-changie

on:
  pull_request:
    paths:
      - .changes/unreleased/*.yaml
      - .changie.yaml
      - .github/workflows/ci-changie.yml

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - uses: miniscruff/changie-action@6dcc2533cac0495148ed4046c438487e4dceaa23 # v2.0.0
        with:
          version: latest
          args: batch patch --dry-run

