name: 'Continuous Integration'

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  check-dist:
    name: Check dist/ directory
    uses: actions/reusable-workflows/.github/workflows/check-dist.yml@a8533f184b279cfc1b2dd6a96ed2f097ccf81189
    with:
      node-version: 20.x
      node-caching: npm

  test:
    name: Test
    uses: actions/reusable-workflows/.github/workflows/basic-validation.yml@a8533f184b279cfc1b2dd6a96ed2f097ccf81189
    with:
      node-version: 20.x
      node-caching: npm
